name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: [self-hosted] 

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up cache for Verilator
      id: cache-verilator
      uses: actions/cache@v3
      with:
        path: "/usr/local/bin/verilator"
        key: verilator-cache

    - name: Install Verilator if not cached
      if: steps.cache-verilator.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y verilator g++ make yosys
      shell: bash

    - name: Trigger Local Script
      run: |
        echo "Triggering the local CI script..."
        bash "./scripts/run_ci.sh"
#file
