name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Trigger Local Script
      run: |
        echo "Triggering the local CI script..."
        bash ./run_ci.sh
        
