name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Cache Verilator
      id: cache-verilator
      uses: actions/cache@v3
      with:
        path: |
          /usr/local/bin/verilator
          /usr/local/share/verilator
        key: verilator-cache

    - name: Trigger Local Script
      run: |
        echo "Triggering the local CI script..."
        bash ./run_ci.sh
#chkkkkk
