name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up cache for Verilator
      id: cache-verilator
      uses: actions/cache@v3
      with:
        path: sudo cd /usr/bin/verilator
        key: verilator-cache

    - name: Install Verilator if not cached
      if: steps.cache-verilator.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y verilator g++ make yosys

    - name: Trigger Local Script
      run: |
        echo "Triggering the local CI script..."
        bash ./run_ci.sh
#chkk kr ab v
