name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y verilator g++ make yosys

    #- name: Lint Verilog Files
     # run: verilator --lint-only sources_1/new/arithunit.v

    - name: Run Yosys Synthesis
      run: |
        yosys -p 'read_verilog sources_1/new/arithunit.v; synth -top arithunit; write_verilog -noattr synthesized_arithunit.v'

    - name: Run Verilator Simulation
      run: |
        # Step 1: Compile the Verilog files with Verilator
        verilator --cc sources_1/new/arithunit.v --exe --build sim_1/new/tb_arithunit.cpp

        # Step 2: Run the compiled simulation
        ./obj_dir/Varithunit
